* {
    color: #ffffff;
    font-size: x-large;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    border-radius: 50%;
    height: 12vh;
    width: 12vh;
    background-color: #302E30;
}

#calculator {
    background-color: black;
    height: 70vh;
    width: 40vw;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
    gap: 1vw;
}

#delete-button {
    background-color: red;
}

#order-screen {
    color: #ACACAC;
}

.operator-button {
    background-color: #FF9200;
}

#screen {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding-top: 10vh;
    padding-left: 28vw;
    text-align: right;
}
